@import '../../../node_modules/materialize-css/dist/css/materialize.min.css';

a:hover {
    cursor: pointer;
}
.general-container {
    padding-top: 5rem;
}
.fs-mini {
    font-size: 9pt;
}
.fw-bold {
    font-weight: 700;
}
.transition {
    transition: .3s all linear;
    -webkit-transition: .3s all linear;
    -moz-transition: .3s all linear;
    -o-transition: .3s all linear
}