<div class="row">
  <h1 class="col s12 teal-text">Welcome!</h1>
  <div class="col s12">
    <h3 class="teal-text">Summary</h3>
    <p>
      The app is developed only for purpose of testing the <span class="red-text">Angular</span> with
      <span class="red-text">Materialize</span> since I find myself learning this last one, I hope to do well :)
    </p>
    <div class="divider"></div>
    <p>
      I'm use the API from <code>last.fm</code> you can see everything the documentation in this
      <a href="http://www.last.fm/api" target="_blank" class="waves-effect waves-light btn">link <i class="material-icons right">launch</i></a><br>
      <span class="red-text">The API key is used for this purpose, please you don't use with other purpose. Thanks!</span>
    </p>
    <div class="divider"></div>
    <h5>
      Development for <strong class="teal-text text-darken-1">Henry Zarza</strong>
    </h5>
  </div>
</div>